body{
    font-family: 'Poppins', sans-serif;
    margin: 40px;
    background-color: rgb(35, 35, 35);
    color: white;
    
}
.pattern-triangles-md{
    background-color: orangered;
}
/*---------------------------------*/

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
img{
    border: 5px solid orangered;
    border-radius: 150px;
    margin-top: 50px;
    margin-bottom: 10px;
}
header,h1,p{
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;

}
h2{
    color: orangered;
    text-align: center;
}

/*-------------------------*/

a{
    text-decoration: none;
    color: white;
    margin: 10px;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
}
.contact{
    text-align: center;
    padding: 10px;
}
.contact *:hover{
    color: orangered;
    transition: 0.5s;
}
.contact p{
    text-align: right;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}