.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.box-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:10px 10px;
    
}
.box{
    height: 50px;
    width: 50px;
}
.box:nth-last-child(1n){
    background-color: aqua;
}
.box:nth-last-child(2n){
    background-color: coral;
}
.box:nth-last-child(3n){
    background-color: crimson;
}