body{
    margin: 40px 200px;
    font-family: 'Poppins', sans-serif;
}
#header{
    text-align: center;
}

.cell{
    width: 75px;
    height: 75px;
    border: none;
    /* box-shadow: 0 0 0 2px; */
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
/*--------------BorderRight---------------------*/

#B1,#B4, #B7,#B2,#B5,#B8{
    border-right: 5px solid;
}

/*----------------BorderBottom------------------*/

#B4,#B5,#B6,#B1,#B2,#B3{
    border-bottom: 5px solid;  
}

#gameContainer{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

/*---------------------------------------------*/

/* #reset{
    padding: 15px 25px 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: aqua;
}
#reset:hover{
    background-color: rgb(251, 80, 80);
    transition: 0.5s;
} */

#restartBtn{
    padding: 15px 25px 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: aqua;
}
#restartBtn:hover{
    background-color: rgb(104, 255, 104);
    transition: 0.5s;
}

